<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark-trans">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">
      <img src="./images/rambagiza.png" alt="RAMBAGIZA"  height="24">
    </a>
    {{#if newSmile}}
      <a href="/showSmile/{{newSmile._id}}" class="mx-2"><i class="bi bi-emoji-smile smile" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Intashyo nshya"></i></a>
    {{else}}
      <a class="navbar-brand" href="#">{{title}}</a>
    {{/if}}
    {{#if unread}}
      <a href="/chats"><i class="bi bi-envelope letter" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ubutumwa bushya"></i></a>
    {{/if}}

    {{#each user.friends}}
    {{#if isFriend}}
    {{else}}
      <a class="navbar-brand" href="/showFriendRequest/{{friend._id}}">
      <i class="bi bi-person-plus friend" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Wasabwe Ubucuti"></i>
      </a>
    {{/if}}
    {{/each}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/singles"><i class="bi bi-people"></i>Shaka Inshuti</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="bi bi-person-lines-fill"></i> Imyirondoro</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/chats"><i class="bi bi-chat-text"></i> Imishyikirano</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/displayPostForm"><i class="bi bi-journal-plus"></i> Andika Inkuru</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/posts"><i class="bi bi-globe"></i> Inkuru</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/friends"><i class="bi bi-heart-half"></i> Inshuti</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right"></i> Gusohoka</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="bi bi-card-image"></i> Abo turi bo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="bi bi-card-heading"></i> Twandikire</a>
          </li>
        {{/if}}
      </ul>
      {{#if user}}
        <img src="{{user.image}}" class="img-thumbnail">
      {{/if}}
    </div>
  </div>
</nav>