<div class="row">
  <div class="col-sm-8 offset-sm-2 shad my-4 bg-dark-trans p-4">

    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <div class="flex-shrink-0">
      <a href="/userProfile/{{post.postUser._id}}">
        <img
          src="{{post.postUser.image}}"
          class="me-3 rounded-circle img-thumbnail"
        />
      </a>
      </div>
      <!-- Media body -->
      <divclass="flex-grow-1 ms-3">
        <h2 class="fw-bold">
          {{post.title}}
          <small><i class="{{post.icon}}"></i></small>
        </h2>
        <i class="bi bi-calendar-event text-muted post-icons"></i><small class="text-muted">{{formatTime date "DD/MM/YY - HH:mm:ss"}}</small>
        <p>
          {{post.body}}
        </p>
        <img src="{{post.image}}" class="img-fluid">
        <!-- Nested Media object -->
        
        {{#each post}}
        {{#each comments}}
        <div class="d-flex mt-4">
          <a href="/userProfile/{{commentUser._id}}">
            <img
              src="{{commentUser.image}}"
              class="me-3 rounded-circle img-thumbnail"
            />
          </a>
          <div>
            <p class="fw-bold">
              {{commentBody}}
            </p>
            <i class="bi bi-calendar-event text-muted post-icons"></i>
            <small class="text-muted">{{formatTime date "DD/MM/YY - HH:mm:ss"}}</small>
          </div>
        </div>
        {{/each}}
        {{/each}}


        {{#each post}}
        {{#each likes}}
        <div class="d-flex mt-4">
          <a href="/userProfile/{{likeUser._id}}">
            <img
              src="{{likeUser.image}}"
              class="me-3 rounded-circle img-thumbnail"
            />
          </a>
          <div>
            <h5 class="fw-bold">
              <i class="bi bi-hand-thumbs-up"></i>
            </h5>
            <i class="bi bi-calendar-event text-muted post-icons"></i>
            <small class="text-muted">{{formatTime date "DD/MM/YY - HH:mm:ss"}}</small>
          </div>
        </div>
        {{/each}}
        {{/each}}
        <!-- Nested Media object -->
        <br>
        <h4>
          <a href="/likePost/{{post._id}}">
            <i class="bi bi-hand-thumbs-up post-icons"> Shima</i>
          </a>
          {{#if post.allowComments}}
          <a class="btn btn-primary" id="comment-icon" onclick="displayCommentForm()">
            <i class="bi bi-chat-text post-icons"> Urabyumva ute?</i>
          </a>
          {{/if}}
        </h4>
        {{#if post.allowComments}}
        <form id="comment_form" action="/leaveComment/{{post._id}}" method="post" class="form-inline" style="display: none;">
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="commentBody" placeholder="Tanga igitekerezo" aria-label="Tanga igitekerezo" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="bi bi-chat-text"></i></button>
          </div>
        </form>
        <script>
          function displayCommentForm(){
            document.getElementById('comment-icon').style.display = 'none';
            document.getElementById('comment_form').style.display = 'block';
          }
        </script>
        {{else}}
        <p class="text-danger">Comment is not allowed!</p>
        {{/if}}
      </divclass=>
      <!-- Media body -->
    </div>
    <!-- Media object -->

  </div>
</div>