<div class="row">
  <div class="col-sm-8 offset-sm-2 my-4">
    {{#each posts}}
      <div class="d-flex bg-dark-trans shad p-3 my-4">
        <div class="flex-shrink-0">
          <img src="{{postUser.image}}" class="rounded-circle img-thumbnail">
        </div>
        <div class="flex-grow-1 ms-3">
          <h3>{{title}} <i class="bi bi-globe"></i></h3>
          <p>{{body}}</p>
          <img src="{{image}}" class="img-fluid">
          <small>{{getLastMoment date 'hour'}}</small>
        </div>
      </div>
    {{else}}
      <div class="shad bg-dark-trans p-3 text-center text-danger">
        <p>Nta bitekerezo bihari!</p>
      </div>
    {{/each}}
  </div>
</div>