<div class="row">
  <div class="col-sm-8 offset-sm-2 my-4">
    {{#each posts}}
      <div class="d-flex bg-dark-trans shad p-3 my-4">
        <div class="flex-shrink-0">
          <a href="/userProfile/{{postUser._id}}"><img src="{{postUser.image}}" class="rounded-circle img-thumbnail"></a>
        </div>
        <div class="flex-grow-1 ms-3">
          <h3>{{title}} <i class="bi bi-globe"></i></h3>
          <h6><em><i class="bi bi-pencil-square"></i> {{postUser.fullname}}</em></h6>
          <p>{{body}}</p>
          <img src="{{image}}" class="img-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Byanditswe: <small>{{formatTime date 'DD/MM/YYYY - HH:mm:ss'}}</small></p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Byavuguruwe: <small>{{formatTime lastUpdate 'DD/MM/YYYY - HH:mm:ss'}}</small></p>
            </div>
          </div>
          <p>
            <a href="/likePost/{{_id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Shima iyi nkuru">
              <i class="bi bi-hand-thumbs-up lead post-icons"> Shima</i>
            </a>

            {{#if allowComments}}
              <a href="/fullPost/{{_id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Tanga igitekerezo">
                <i class="bi bi-chat-text lead post-icons"> Urabyumva ute?</i>
              </a>
            {{else}}
            <span class="text-danger"><strong>Gutanga ibitekerezo ntibyemewe!</strong></span>
            {{/if}}
          </p>
          <p><a href="/fullPost/{{_id}}">Reba n'ibindi</a></p>
        </div>
      </div>
    {{else}}
      <div class="shad bg-dark-trans p-3 text-center text-danger">
        <p>Nta bitekerezo bihari!</p>
      </div>
    {{/each}}
  </div>
</div>