<div class="row">
  <div class="col-sm-6 offset-sm-3 my-4 py-3 shad">
    <h3>
      <img src="{{chat.sender.image}}" class="chatroom-users rounded-circle img-thumbnail">
      <img src="{{chat.receiver.image}}" class="chatroom-users rounded-circle img-thumbnail">
    </h3>

    {{#each chat}}
      {{#each chats}}
        {{#if receiverName}}
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="{{receiverName.image}}" class="chatroom-users rounded-circle img-thumbnail">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5>{{receiverMessage}}</h5>
              <small>{{date}}</small>
            </div>
          </div>
        {{/if}}
      {{/each}}
    {{/each}}

    <hr>

    <div id="messages">
      {{#each chat}}
        {{#each chats}}
          {{#if senderName}}
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="{{senderName.image}}" class="chatroom-users rounded-circle img-thumbnail">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5>{{senderMessage}}</h5>
                <small>{{date}}</small>
              </div>
            </div>
          {{/if}}
        {{/each}}
      {{/each}}
    </div>

    <form action="/chat/{{chat._id}}" method="post">
      <input type="text" name="chat" class="form-control" placeholder="Type message">
      <button type="submit" class="btn btn-primary my-3">Send</button>
    </form>
  </div>
</div>  