<div class="row">
  <div class="col-sm-6 offset-sm-3 my-4 py-3 shad">
    <h3>
      <a href="/userProfile/{{chat.sender._id}}">
        <img src="{{chat.sender.image}}" class="chatroom-users rounded-circle img-thumbnail">
      </a>
      <a href="/userProfile/{{chat.receiver._id}}">
        <img src="{{chat.receiver.image}}" class="chatroom-users rounded-circle img-thumbnail">
      </a>
    </h3>

    <hr>

    <div id="messages">

      {{#each chat}}
      {{#each chats}}
      {{#if receiverMessage}}
        <div class="d-flex mb-3">
          <div class="flex-grow-1 text-end p-2 dialog receiver">
            <p><strong>{{receiverMessage}}</strong></p>
            <small>{{getLastMoment date 'hour'}}</small>
          </div>
          <div class="flex-shrink-1">
            <a href="/userProfile/{{receiverName._id}}">
              <img src="{{receiverName.image}}" class="me-2 chatroom-users rounded-circle img-thumbnail">
            </a>
          </div>
        </div>
      {{/if}}
      
      {{#if senderMessage}}
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <a href="/userProfile/{{senderName._id}}">
              <img src="{{senderName.image}}" class="chatroom-users rounded-circle img-thumbnail">
            </a>
          </div>
          <div class="flex-grow-1 ms-3 ml-4 p-2 dialog sender">
            <p><strong>{{senderMessage}}</strong></p>
            <small>{{getLastMoment date 'hour'}}</small>
          </div>
        </div>
      {{/if}}
      {{/each}}
      {{/each}}
    </div>

    <form action="/chat/{{chat._id}}" method="post">
      <input type="text" name="chat" class="form-control" placeholder="Type message">
      <button type="submit" class="btn btn-primary my-3">Send</button>
    </form>
  </div>
</div>  