
<h1 class="text-center">Thank you for contacting!</h1>
{{#each messages}}
  <div class="card my-3">
    <div class="card-body">
      <p>{{fullName}}</p>
      <p>{{email}}</p>
      <p>{{message}}</p>
      <small>{{date}}</small>
    </div>
  </div>
{{else}}
  <div class="card my-3">
    <div class="card-body">
      <p>No messages...</p>
    </div>
  </div>
{{/each}}
<hr>
<a class="btn btn-success text-center" href="/contact">Contact again</a>