
<h1 class="text-center">Murako kutwandikira!</h1>
{{#each messages}}
  <div class="card my-3">
    <div class="card-body">
      <p>{{fullName}}</p>
      <p>{{email}}</p>
      <p>{{message}}</p>
      <small>{{date}}</small>
    </div>
  </div>
{{else}}
  <div class="card my-3">
    <div class="card-body">
      <p>Nta butumwa buhari...</p>
    </div>
  </div>
{{/each}}
<hr>
<a class="btn btn-success text-center" href="/contact">Ongera utwandikire</a>