
<div class="row">
  <div class="col-sm-8 offset-sm-2 my-4 bg-dark-trans shad">
    <div class="row">

      <div class="col-sm-4">
        <div class="card my-4">
          <a href="/uploadImage">
            <img src="{{user.image}}" class="card-img-top" alt="{{user.fullname}}">
          </a>
          {{!-- <div class="card-body">   
          </div> --}}
        </div>
      </div>

      <div class="col-sm-8 my-3" id="profile-info">
        <table class="my-4">
          <tbody>
            <tr>
              <th class="mr-3"><i class="bi bi-person-badge"></i> Amazina</th>
              <td><h5 class="card-title">{{user.fullname}}</h5></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-envelope"></i> Email</th>
              <td><p class="card-text">{{user.email}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-gender-ambiguous"></i> Igitsina</th>
              <td><p class="card-text">{{user.gender}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-calendar"></i> Imyaka</th>
              <td><p class="card-text">{{user.age}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-file-earmark-richtext"></i> Impamvu</th>
              <td><p class="card-text">{{user.about}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-flag"></i> Igihugu</th>
              <td><p class="card-text">{{user.country}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-building"></i> Umujyi</th>
              <td><p class="card-text">{{user.city}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-geo-alt"></i> Umurenge</th>
              <td><p class="card-text">{{user.area}}</p></td>
            </tr>
          </tbody>
        </table>
        <hr>
        <h4>
          <i onclick="editProfile()" class="bi bi-pencil-square text-primary"> Vugurura</i>
          <a href="/askToDelete" class="text-danger"><i class="bi bi-trash"> Vanaho</i></a>
        </h4>
      </div>

      <div class="col-sm-8 my-3" id="profileEditor" style="display: none;">
        <form action="/updateProfile" method="POST">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label"><i class="bi bi-person-badge"></i> Amazina</label>
            <div class="col-sm-8">
              <input type="text" name="fullname" id="fullname" value="{{user.fullname}}" class="form-control">
          </div>

            </div>

          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label"><i class="bi bi-envelope"></i> Email</label>
            <div class="col-sm-8">
              <input type="email" name="email" id="email" value="{{user.email}}" class="form-control">          
            </div>
          </div>

          <div class="form-group row">
            <label for="gender" class="col-sm-4 col-form-label"><i class="bi bi-gender-ambiguous"></i> Igitsina</label>
            <div class="col-sm-8">
              <select name="gender" id="gender" class="form-select" aria-label="Default select example">
                {{#if_eq user.gender ""}}
                <option value="" selected> -- </option>
                {{else}}
                <option value="Gabo" {{#if_eq user.gender "Gabo"}}selected{{/if_eq}}>Gabo</option>
                <option value="Gore" {{#if_eq user.gender "Gore"}}selected{{/if_eq}}>Gore</option>
                {{/if_eq}}
              </select>          
            </div>
          </div>

          <div class="form-group row">
            <label for="age" class="col-sm-4 col-form-label"><i class="bi bi-calendar"></i> Imyaka</label>
            <div class="col-sm-8">
              <input type="text" name="age" id="age" value="{{user.age}}" class="form-control">          
            </div>
          </div>

          <div class="form-group row">
            <label for="about" class="col-sm-4 col-form-label"><i class="bi bi-file-earmark-richtext"></i> Impamvu</label>
            <div class="col-sm-8">
              <input type="text" name="about" id="about" value="{{user.about}}" class="form-control">          
            </div>
          </div>

          <div class="form-group row">
            <label for="country" class="col-sm-4 col-form-label"><i class="bi bi-flag"></i> Igihugu</label>
            <div class="col-sm-8">
              <select name="country" id="country" class="form-select" aria-label="Default select example">
                {{#if_eq user.country ""}}
                <option value="" selected> -- </option>
                {{else}}
                <option value="Rwanda" {{#if_eq user.country "Rwanda"}}selected{{/if_eq}}>Rwanda</option>
                <option value="Burundi" {{#if_eq user.country "Burundi"}}selected{{/if_eq}}>Burundi</option>
                <option value="Canada" {{#if_eq user.country "Canada"}}selected{{/if_eq}}>Canada</option>
                <option value="USA" {{#if_eq user.country "USA"}}selected{{/if_eq}}>USA</option>
                <option value="France" {{#if_eq user.country "France"}}selected{{/if_eq}}>France</option>
                <option value="Belgique" {{#if_eq user.country "Belgique"}}selected{{/if_eq}}>Belgique</option>
                <option value="UK" {{#if_eq user.country "UK"}}selected{{/if_eq}}>UK</option>
                <option value="China" {{#if_eq user.country "China"}}selected{{/if_eq}}>China</option>
                {{/if_eq}}
              </select>          
            </div>
          </div>

          <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label"><i class="bi bi-building"></i> Umujyi</label>
            <div class="col-sm-8">
              <input type="text" name="city" id="city" class="form-control" value="{{user.city}}">          
            </div>
          </div>

          <div class="form-group row">
            <label for="area" class="col-sm-4 col-form-label"><i class="bi bi-geo-alt"></i> Umurenge</label>
            <div class="col-sm-8">
              <input type="text" name="area" id="area" class="form-control" value="{{user.area}}">          
            </div>
          </div>

          <button type="submit" class="btn btn-warning my-3">Emeza</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2 my-4">
    <h2 class="my-3">Ibitekerezo byanjye</h2>
    {{#each posts}}
      <div class="d-flex bg-dark-trans shad p-3 my-4">
        <div class="flex-shrink-0">
          <img src="{{postUser.image}}" class="rounded-circle img-thumbnail">
        </div>
        <div class="flex-grow-1 ms-3">
          <h3>{{title}} <i class="bi bi-globe"></i></h3>
          <h6><em><i class="bi bi-pencil-square"></i> {{postUser.fullname}}</em></h6>
          <p>{{body}}</p>
          <img src="{{image}}" class="img-fluid">
          <small>{{getLastMoment date 'hour'}}</small>
        </div>
      </div>
    {{else}}
      <div class="shad bg-dark-trans p-3 text-center text-danger">
        <p>Nta bitekerezo bihari!</p>
      </div>
    {{/each}}
  </div>
</div>
<script>
  function editProfile(){
    document.getElementById('profile-info').style.display = 'none';
    document.getElementById('profileEditor').style.display = 'block';
  }
</script>