<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6 my-4 card-body shad">
    <div class="row">

      {{#each singles}}
          <div class="col-sm-4 mb-3" id="singles">

            {{#if online}}
            <div class="card">
              <img src="{{image}}" class="card-img-top" alt="...">
              <div class="card-body pt-0">
                <div class="row">

                  <div class="col float-left lead">
                    <a href="/userProfile/{{_id}}">
                      <i class="bi bi-file-person" data-bs-toggle="tooltip" data-bs-placement="top" title="Go to Profile"></i>
                    </a>

                    <a href="/startChat/{{_id}}">
                      <i class="bi bi-chat-text" data-bs-toggle="tooltip" data-bs-placement="top" title="Start Chat"></i>
                    </a>
                  </div>

                  <div class="col float-right text-end lead">
                    <i class="bi bi-circle-fill text-success"><span class="px-1"><small>Online</small> </span></i>
                  </div>

                </div>
              </div>
            </div>
            {{else}}
            <div class="card">
              <img src="{{image}}" class="card-img-top" alt="...">
              <div class="card-body pt-0">
                <div class="row">

                  <div class="col float-left lead">
                    <a href="/userProfile/{{_id}}">
                      <i class="bi bi-file-person" data-bs-toggle="tooltip" data-bs-placement="top" title="Go to Profile"></i>
                    </a>

                    <a href="/startChat/{{_id}}">
                      <i class="bi bi-chat-text" data-bs-toggle="tooltip" data-bs-placement="top" title="Start Chat"></i>
                    </a>
                  </div>

                  <div class="col float-right text-end lead">
                    <i class="bi bi-circle-fill text-danger"><span class="px-1"><small>Offline</small></span></i>
                  </div>

                </div>
              </div>
            </div>
            {{/if}}
          </div>

      {{else}}
        <p>No user found!</p>
      {{/each}}

    </div>
  </div>
  <div class="col-sm"></div>
</div>