<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-10 my-4 card-body shad">
    <div class="row">

      {{#each singles}}
        <div class="col-sm-4 mb-3" id="singles">

          {{#if online}}
          <div class="card">
            <img src="{{image}}" class="card-img-top">
            <div class="card-body pt-2 px-0">
              <div class="row px-0">

                <div class="col-sm-10 float-left">
                  <a href="/userProfile/{{_id}}" class="btn btn-outline-primary card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Reba Imyirondoro">
                    <i class="bi bi-file-person"></i>
                  </a>

                  <a href="/startChat/{{_id}}" class="btn btn-outline-info card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Tangira umushyikirano">
                    <i class="bi bi-chat-text"></i>
                  </a>

                  <a href="/sendSmile/{{_id}}" class="btn btn-outline-success card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Mwoherereze Inseko">
                    <i class="bi bi-emoji-smile"></i>
                  </a>
                </div>

                <div class="col-sm-2 float-right text-end lead">
                  <i class="bi bi-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ari ku rubuga"></i>
                </div>

              </div>
            </div>
          </div>
          {{else}}
          <div class="card">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body pt-2 px-0">
              <div class="row px-0">

                <div class="col-sm-10 float-left">
                  <a href="/userProfile/{{_id}}" class="btn btn-outline-primary card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Reba imyirondoro">
                    <i class="bi bi-file-person"></i>
                  </a>

                  <a href="/startChat/{{_id}}" class="btn btn-outline-info card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Tangira umushyikirano">
                    <i class="bi bi-chat-text"></i>
                  </a>

                  <a href="/sendSmile/{{_id}}" class="btn btn-outline-success card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Mwoherereze Inseko">
                    <i class="bi bi-emoji-smile"></i>
                  </a>
                </div>

                <div class="col-sm-2 float-right text-end lead">
                  <i class="bi bi-circle-fill text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Ntari ku rubuga"></i>
                </div>

              </div>
            </div>
          </div>
          {{/if}}
        </div>

      {{else}}
        <p>Nta nshuti zihari!</p>
      {{/each}}

    </div>
  </div>
  <div class="col-sm"></div>
</div>