<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6 my-4 card-body shad">
    <div class="row">
      {{#each singles}}
      <div class="col-sm-3 mb-3">
        {{#if online}}
          <img src="{{image}}" alt="{{fullname}}" class="img-thumbnail">
          <br>
          <i class="bi bi-circle-fill text-success"><span class="px-3">Online</span></i>
        {{else}}
          <img src="{{image}}" alt="{{fullname}}" class="img-thumbnail">
          <br>
          <i class="bi bi-circle-fill text-danger"><span class="px-3">Offline</span></i>
        {{/if}}
      </div>
      {{else}}
      <p>No user found!</p>
      {{/each}}

    </div>
  </div>
  <div class="col-sm"></div>
</div>