<div class="row">

  <div class="col-sm-4 offset-sm-4 mb-5" id="profile">
    <div class="card my-4 shad">
        <img src="{{oneUser.image}}" class="card-img-top" alt="{{oneUser.fullname}}">
      <div class="card-body">
        <h3><i class="bi bi-person-badge"></i> {{oneUser.fullname}}</h3>
        <table class="my-4">
          <tbody>
            <tr>
              <th class="mr-3"><i class="bi bi-envelope"></i> Email</th>
              <td><p class="card-text">{{oneUser.email}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-person-bounding-box"></i> Gender</th>
              <td><p class="card-text">{{oneUser.gender}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-calendar"></i> Age</th>
              <td><p class="card-text">{{oneUser.age}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-file-earmark-richtext"></i> About</th>
              <td><p class="card-text">{{oneUser.about}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-flag"></i> Country</th>
              <td><p class="card-text">{{oneUser.country}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-building"></i> City</th>
              <td><p class="card-text">{{oneUser.city}}</p></td>
            </tr>
            <tr>
              <th class="mr-3"><i class="bi bi-geo-alt"></i> Locality</th>
              <td><p class="card-text">{{oneUser.area}}</p></td>
            </tr>
          </tbody>
        </table>
        <a href="/startChat/{{oneUser._id}}" class="btn btn-primary mb-3">Send message</a> 
      </div>
    </div>
  </div>

</div>