<div class="row">

  <div class="col-sm-8 offset-sm-2 my-4" id="profile">

    <div class="card bg-dark-trans shad mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="card">
            <img src="{{oneUser.image}}" class="img-fluid" alt="{{oneUser.fullname}}">
            <div class="card-body">
              
              <a href="/startChat/{{oneUser._id}}" class="btn btn-outline-primary card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Tangira Umushyikirano">
                <i class="bi bi-chat-text"></i>
              </a>
              {{#if smile}}
              <a href="/deleteSmile/{{oneUser._id}}" class="btn btn-outline-danger card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Kuraho Intashyo">
                <i class="bi bi-emoji-smile newsmile"></i>
              </a>
              {{else}}
              <a href="/sendSmile/{{oneUser._id}}" class="btn btn-success card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Ohereza Intashyo">
                <i class="bi bi-emoji-smile"></i>
              </a>
              {{/if}}

              <a href="/sendFriendRequest/{{oneUser._id}}" class="btn btn-outline-success card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Musabe Ubucuti">
                <i class="bi bi-person-plus"></i>
              </a>


              {{#if oneUser.online}}
              <i class="bi bi-circle-fill text-success card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Ndahari"></i>
              {{else}}
              <i class="bi bi-circle-fill text-danger card-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Simpari"></i>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="text-center">Imyirondoro</h1>
            <h3><i class="bi bi-person-badge"></i> {{oneUser.fullname}}</h3>
            <table class="my-4">
              <tbody>
                <tr>
                  <th class="mr-3"><i class="bi bi-envelope"></i> Email</th>
                  <td><p class="card-text">{{oneUser.email}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-gender-ambiguous"></i> Igitsina</th>
                  <td><p class="card-text">{{oneUser.gender}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-calendar"></i> Imyaka</th>
                  <td><p class="card-text">{{oneUser.age}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-file-earmark-richtext"></i> Impamvu</th>
                  <td><p class="card-text">{{oneUser.about}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-flag"></i> Igihugu</th>
                  <td><p class="card-text">{{oneUser.country}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-building"></i> Umujyi</th>
                  <td><p class="card-text">{{oneUser.city}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-geo-alt"></i> Umurenge</th>
                  <td><p class="card-text">{{oneUser.area}}</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2 my-4">
    <div class="bg-dark-trans shad mb-3">
      <h1 class="text-center">Inshuti</h1>
      <div class="row px-3">
        {{#each oneUser.friends}}
        <div class="col-sm-4 col-md-3 my-3">
          <div class="card">
            <img src="{{friend.image}}" class="card-img-top img-fluid">
            <div class="card-body">
              <h5 class="card-title text-dark">{{friend.fullname}}</h5>
              <a href="/userProfile/{{friend._id}}" class="btn btn-primary">Imyirondoro</a>
            </div>
          </div>
        </div>
        {{else}}
        <h3 class="text-center text-warning">Nta nshuti zihari!</h3>
        <div class="col-sm-4 offset-sm-4">
          <a href="/singles" class="btn btn-primary my-3">Shaka inshuti</a>
        </div>
        
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-8 offset-sm-2 p-4 bg-dark-trans shad">
    <h2 class="text-center">Inkuru</h2>
    {{#each publicPosts}}
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <div class="flex-shrink-0">
      <a href="/userProfile/{{postUser._id}}">
        <img
          src="{{postUser.image}}"
          class="me-3 rounded-circle img-thumbnail"
        />
      </a>
      </div>
      <!-- Media body -->
      <div class="flex-grow-1 ms-3">
        <h5 class="fw-bold">
          {{title}}
          <br>
          <small class="text-muted">{{formatTime date "DD/MM/YY - HH:mm:ss"}}</small>
        </h5>
        <p>
          {{body}}
        </p>
        <img src="{{image}}" class="img-fluid">
        <!-- Nested Media object -->
        
        {{#if allowComments}}
        {{#each comments}}
        <div class="d-flex mt-4">
          <a href="/userProfile/{{commentUser._id}}">
            <img
              src="{{commentUser.image}}"
              class="me-3 rounded-circle img-thumbnail"
            />
          </a>
          <div>
            <p class="fw-bold">
              {{commentBody}}
            </p>
              
              <br>
              <small class="text-muted">{{getLastMoment date 'hour'}}</small>
          </div>
        </div>
        <hr>
        {{/each}}
        {{/if}}
        
        {{#each likes}}
        <div class="d-flex mt-4">
          <a href="/userProfile/{{likeUser._id}}">
            <img
              src="{{likeUser.image}}"
              class="me-3 rounded-circle img-thumbnail"
            />
          </a>
          <div>
            <h5 class="fw-bold">
              <i class="bi bi-hand-thumbs-up"></i>
              <br>
              <small class="text-muted">{{getLastMoment date 'hour'}}</small>
            </h5>
          </div>
        </div>
        {{/each}}
        <!-- Nested Media object -->
        <br>
        <h4>
          <a href="/likePost/{{_id}}">
            <i class="bi bi-hand-thumbs-up post-icons"> Shima</i>
          </a>

          <a href="/fullPost/{{_id}}">
            <i class="bi bi-chat-text post-icons"> Urabyumva ute?</i>
          </a>

        </h4>
      </div>
      <!-- Media body -->
    </div>
    <!-- Media object -->
    {{else}}
    <p>Nta nkuru wari watangariza rubanda...</p>
    {{/each}}
  </div>
</div>