<div class="row">

  <div class="col-sm-8 offset-sm-2 my-4" id="profile">

    <div class="card bg-trans text-dark shad mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{oneUser.image}}" class="img-fluid" alt="{{oneUser.fullname}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3><i class="bi bi-person-badge"></i> {{oneUser.fullname}}</h3>
            <table class="my-4">
              <tbody>
                <tr>
                  <th class="mr-3"><i class="bi bi-envelope"></i> Email</th>
                  <td><p class="card-text">{{oneUser.email}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-person-bounding-box"></i> Igitsina</th>
                  <td><p class="card-text">{{oneUser.gender}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-calendar"></i> Imyaka</th>
                  <td><p class="card-text">{{oneUser.age}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-file-earmark-richtext"></i> Impamvu</th>
                  <td><p class="card-text">{{oneUser.about}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-flag"></i> Igihugu</th>
                  <td><p class="card-text">{{oneUser.country}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-building"></i> Umujyi</th>
                  <td><p class="card-text">{{oneUser.city}}</p></td>
                </tr>
                <tr>
                  <th class="mr-3"><i class="bi bi-geo-alt"></i> Umurenge</th>
                  <td><p class="card-text">{{oneUser.area}}</p></td>
                </tr>
              </tbody>
            </table>
            <a href="/startChat/{{oneUser._id}}" class="btn btn-outline-primary card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Start Chat">
              <i class="bi bi-chat-text"></i>
            </a>
            {{#if smile}}
            <a href="/deleteSmile/{{oneUser._id}}" class="btn btn-outline-danger card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Kuraho Inseko">
              <i class="bi bi-emoji-smile newsmile"></i>
            </a>
            {{else}}
            <a href="/sendSmile/{{oneUser._id}}" class="btn btn-success card-link mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Ohereza Inseko">
              <i class="bi bi-emoji-smile"></i>
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>